{% extends "base.html" %}
{% block styles %}

{% endblock %}
{% block content %}
<nav class='navbar navbar-dark material-green navbar-shadow'>
	<a class="navbar-brand heading" href="#"><h1>MoveMint</h1></a>
	<i class='fa fa-3x fa-bars pull-xs-right'></i>
</nav>

<div class='container card-list'>
{% for project in projects %}
<div class='card card-shadow'>
	<div class='container content'>
		<h4 class='card-title'>{{ project.name }}</h4>
		<p class='card-text text-muted'>{{ project.about }}</p>
		<progress class="progress progress-success" value="{{ project.donation_amount }}" max="{{ project.donation_goal }}"></progress>
		<p class='card-text'>Raised ${{ project.donation_amount }} of ${{ project.donation_goal }}</p>
		<a href="/projects/{{ project.id }}" class="btn btn-orange btn-lg" role="button">See Project</a>
	</div>
</div>

{% endfor %}
</div>
{% include "footer.html" with app=1 %}
{% endblock %}
