{% extends "base.html" %}
{% block styles %}

{% endblock %}
{% block content %}
<nav class='navbar navbar-dark material-green navbar-shadow'>
	<a class="navbar-brand heading" href="#"><h1>MoveMint</h1></a>
	<i class='fa fa-3x fa-bars pull-xs-right'></i>
</nav>

<div class='container'>

<div class='card card-shadow'>
	<div class='container content'>
		<form action='' method='POST'>
			{% csrf_token %}
			{{ form.as_p }}
			<button type='submit' class='btn btn-orange btn-lg'>Create Project</button>
		</form>
	</div>
</div>

</div>
{% include "footer.html" with app=2 %}
{% endblock %}
