{% extends "base.html" %}
{% block styles %}

{% endblock %}
{% block content %}
<nav class='navbar navbar-dark material-green navbar-shadow'>
	<a class="navbar-brand heading" href="#"><h1>MoveMint</h1></a>
	<i class='fa fa-3x fa-bars pull-xs-right'></i>
</nav>

<div class='container'>
{% for org in orgs %}

<div class='card card-shadow'>
	<div class='container content'>
		<h4 class='card-title'>{{ org.name }}</h4>
		<p class='card-text text-muted'>{{ org.about }}</p>
		<a href="/org/{{ org.id }}" class="btn btn-orange btn-lg" role="button">See Organization</a>
	</div>
</div>

{% endfor %}
</div>
{% include "footer.html" with app=2 %}
{% endblock %}
